/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
/* Better text styling */
	font: bold 14px Arial, sans-serif;
}

#calculator {
	width: 325px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
}

/* Top portion */
.top span.clear {
	float: left;
}

.top .screen {
	height: 40px;
	width: 325px;
	
	background: rgba(0, 0, 0, 0.2);
}

/* Clear floats */
.keys, .top {overflow: hidden;}

.keys span, .top span.clear {
	float: left;
	
	width: 66px;
	height: 40px;
	
	background: white;
	border-radius: 3px;
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 40px;
	text-align: center;
}

/* Remove right margins from operator keys */
span.operator {margin-right: 0;}